edc.participant.id=${PARTICIPANT_NAME}
edc.ids.id=${PARTICIPANT_NAME}
edc.hostname=${PARTICIPANT_NAME}.connector
web.http.port=${EDC_CONNECTOR_API_PORT}
web.http.path=/api
web.http.management.port=${EDC_CONNECTOR_MANAGEMENT_PORT}
web.http.management.path=/management
web.http.protocol.port=${EDC_CONNECTOR_PROTOCOL_PORT}
web.http.protocol.path=/protocol
web.http.public.port=${EDC_CONNECTOR_PUBLIC_PORT}
web.http.public.path=/public
web.http.public.url=https://${PARTICIPANT_NAME}.${DOMAIN_NAME}/public
web.http.control.port=${EDC_CONNECTOR_CONTROL_PORT}
web.http.control.path=/control
edc.dsp.callback.address=https://${PARTICIPANT_NAME}.${DOMAIN_NAME}/protocol
edc.receiver.http.endpoint=http://${PARTICIPANT_NAME}.connector-backend:${EDC_BACKEND_PORT}/pull
edc.dataplane.token.validation.endpoint=https://${PARTICIPANT_NAME}.${DOMAIN_NAME}/control/token
edc.public.key.alias=publickey
edc.transfer.dataplane.token.signer.privatekey.alias=datacellar
edc.transfer.proxy.token.signer.privatekey.alias=datacellar
edc.transfer.proxy.token.verifier.publickey.alias=publickey
eu.datacellar.wallet.url=${WALLET_API_BASE_URL}
eu.datacellar.wallet.email=${WALLET_USER_EMAIL}
eu.datacellar.wallet.password=${WALLET_USER_PASSWORD}
eu.datacellar.trust.did=${ISSUER_DID}
eu.datacellar.uniresolver.url=${UNIRESOLVER_URL}
edc.datasource.default.url=jdbc:postgresql://${PARTICIPANT_NAME}.connector-postgres:5432/connector
edc.datasource.default.user=${EDC_POSTGRES_USER}
edc.datasource.default.password=${EDC_POSTGRES_PASSWORD}
eu.datacellar.openapi.url=${EDC_CONNECTOR_OPENAPI_URL}
edc.api.auth.key=${EDC_CONNECTOR_API_KEY_HEADER}
edc.api.auth.key.alias=apikey
