#------------------------------------------------------
# DATACELLAR Dataspace participant ( ${PARTICIPANT_NAME} ) 
#------------------------------------------------------

http://${PARTICIPANT_NAME}.${DOMAIN_NAME}, ${PARTICIPANT_NAME}.${DOMAIN_NAME} {
	#------------------------------------------------------------------
	# Wallet endpoints (based on walt.id)
	# Note that these endpoints will be removed in the future
	#------------------------------------------------------------------

	handle /swagger* {
		reverse_proxy ${PARTICIPANT_NAME}.wallet:7001
	}

	handle /wallet-api/* {
		reverse_proxy ${PARTICIPANT_NAME}.wallet:7001
		request_header -Accept
	}

	#------------------------------------------------------------------
	# DID Server (based on Nginx)
	#------------------------------------------------------------------

	# DID
	handle_path /.well-known/* {
		rewrite * /.well-known{uri}
		reverse_proxy ${PARTICIPANT_NAME}.did-server
	}

	# VC
	handle_path /vc/* {
		rewrite * /vc{uri}
		reverse_proxy ${PARTICIPANT_NAME}.did-server
	}

	# VP
	handle_path /vp/* {
		rewrite * /vp{uri}
		reverse_proxy ${PARTICIPANT_NAME}.did-server
	}

	#------------------------------------------------------------------
	# Credentials Manager endpoints
	#------------------------------------------------------------------

	# main API
	handle_path /api/v1* {
		rewrite * /api/v1{uri}
		reverse_proxy ${PARTICIPANT_NAME}.credentials-api:8080
	}

	# Swagger
	handle_path /docs* {
		rewrite * /docs
		reverse_proxy ${PARTICIPANT_NAME}.credentials-api:8080
	}

	# Web UI
	handle_path /* {
		rewrite * {uri}
		reverse_proxy ${PARTICIPANT_NAME}.credentials-webui:8080
	}

	#------------------------------------------------------------------
	# EDC connector endpoints
	#------------------------------------------------------------------

	handle /management/* {
		reverse_proxy ${PARTICIPANT_NAME}.connector:${EDC_CONNECTOR_MANAGEMENT_PORT}
	}

	handle /control/* {
		reverse_proxy ${PARTICIPANT_NAME}.connector:${EDC_CONNECTOR_CONTROL_PORT}
	}

	handle /protocol/* {
		reverse_proxy ${PARTICIPANT_NAME}.connector:${EDC_CONNECTOR_PROTOCOL_PORT}
	}

	handle /public/* {
		reverse_proxy ${PARTICIPANT_NAME}.connector:${EDC_CONNECTOR_PUBLIC_PORT}
	}

	#------------------------------------------------------------------
	# Endpoints exposed by the connector backend
	#------------------------------------------------------------------

	handle /pull* {
		reverse_proxy ${PARTICIPANT_NAME}.connector-backend:${EDC_BACKEND_PORT}
	}

	handle /push* {
		reverse_proxy ${PARTICIPANT_NAME}.connector-backend:${EDC_BACKEND_PORT}
	}

	#------------------------------------------------------------------
	# Expose the CDE API publicly for testing purposes
	#------------------------------------------------------------------

	handle_path /cde* {
		reverse_proxy ${PARTICIPANT_NAME}.cde:5000
	}
}
